.avatarTitle {
  margin-top: 1%;
  margin-left: 5px;
  width: 215px;
  font-family: 'Avenir', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  background-color: white;
  color: rgb(36,112,193);
  box-shadow: 4px 4px rgba(0,0,0,.3);
  border: 1px solid rgb(36,112,193);
  padding: 3.5px 4px 3px 4px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.avatarImage {
  align-self: middle;
  width: 50%;
  height: 50%;
}
