.profile {
  width: 100vw;
  height: 100vh;
}

.profileContent {
  margin-top: 3%;
  margin-bottom: 3%;
}

.userInfo {   
  text-align: left;
  font-family: 'Avenir', sans-serif;
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  color: rgb(36,112,193);
  line-height: 3em;
}

.userInfo>ul {
  list-style: none;
}

li a.linkProfile {
  color: rgb(36,112,193);
  text-transform: uppercase;
  text-align: center;
  border: 1.5px solid rgb(36,112,193);
  padding: 5px 5px 5px 9px;
  font-weight: lighter;
  letter-spacing: .5em;
  font-size: 1em;
  box-shadow: 3px 3px rgba(0,0,0,.3);
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.linkProfile:hover {
  text-decoration: none;
  color: rgb(255,145,150);
  border: 1px solid rgb(255,145,150);
  box-shadow: 5px 5px rgba(0,0,0,.2);
}

.userInfoBox {
  margin-top: 5%;
  width: 500px;
  font-family: 'Avenir', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  background-color: white;
  color: rgb(36,112,193);
  box-shadow: 4px 4px rgba(0,0,0,.3);
  border: 1px solid rgb(36,112,193);
  padding: 3.5px 4px 3px 4px;
  line-height: 3em;
}

.avatar {
  margin-bottom: 5%;
}

.nLIT {
  font-size: 3em;
  color: rgb(255,255,255);
  letter-spacing: .2em;
  font-weight: bolder;
}

.goalTitle {
  font-size: 2em;
  color: rgb(36,112,193);
  letter-spacing: .2em;
  font-weight: bolder;
}

.goalTotalInfo {
  font-size: 1em;
  font-weight: bolder;
  color: rgb(36,112,193);
  letter-spacing: .1em;
  text-transform: uppercase;
}

.goalBox {
  width: 70%;
  height: 25%;
  margin-left: 10%;
  margin-bottom: 3%;
  padding: 2%;
  border: 1px solid rgb(36,112,193);
  box-shadow: 5px 5px rgba(0,0,0,.3);
}

.profileContent {
  margin-bottom: 5%;
}
